.fundo{
background-color: rgb(0, 0, 0);
}
.navbar{
 background-color: rgb(147, 32, 28);

}
svg{
  width: 60px;
  height:40px ;
  margin-top: -5px;
  
}
h1{
  color: rgb(255, 255, 255);
}
h6{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}
.logo{
  font-size:30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(253, 253, 253);
}
.navbar-toggler-icon{
  color: rgb(0, 0, 0);
  margin-right: 20px;
}
.offcanvas-title{
  color: rgb(97, 83, 83);
}
.navbar-toggler{
  color: rgb(147, 32, 28);
}
.destaques{
  margin-top: 50px;
  margin-left: 20px;
}

.historias{
  margin-top: 50px;
  margin-left: 95px;
}


