.navbar{
    background-color: #93201C;
}
svg{
 width: 60px;
 height: 40px;
 margin-top: -5px;
}

h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.logo{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.navbar-toggler-icon{
color: rgb(0, 0, 0);
margin-right: 20px;
}

.offcanvas-title{
    color: rgb(97,83,83);
}

.navbar-toggler{
    color: rgb(147, 32, 28);
}

.QS{
 color: white;
     font-family: sans-serif;
     margin-left: 500px;
     margin-top: 80px;
}


body{
background-color: black;
}

.bor{
    margin-left: 500px;
  margin-top: 50px;
   color: white;
   background-color: #93201C;
   margin-right: 550px;
   text-align: center;
   font-family: sans-serif;
   

}

.nome{
    text-align: justify;
    color: white;
    margin-right: 450px;
    margin-top: 50px;
    font-size: 13px;
    margin-left: 400px;
}
.contato{
    background-color: #93201C;
    color: white;
    margin-top: 50px;
}

.quemsomos{
    color: white;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'sans-serif';
    margin-top: 50px;
    font-size: 20px;
}

.ft{
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;
   margin-left: 400px;
}

.footer{
    font-size: 13px;
}